/* Created a new class, .is-current for menuhighlighter.js 
   made by coder */ 

/********************** BASE STYLES *********************/


.container {
  margin: 0 auto;
  width: 85%;
  max-width: 85%;
  padding-bottom: 25px;
  padding-top: 25px;
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8rem;
}


/********************* LAYOUT STYLES *********************/

.item1 {
  grid-area: item1;
    }

.item2 {
  grid-area: item2;
    }

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
 }

 .item7 {
  grid-area: item7;
  grid-column-start: 1;
  grid-row-start: 2;
 }

 .item8 {
  grid-area: item8;
  grid-column-start: 1;
  grid-row-start: 4;
 }

.item9 {
  grid-area: item9;
  grid-column-start: 2;
  grid-row-start: 3;
 }

 .item13 {
  grid-area: item13;
  grid-column-start: 1;
  grid-row-start: 6;
 }

 .item14 {
  grid-area: item14;
  grid-column-start: 1;
  grid-row-start: 8;
 }

 .item15 {
  grid-area: item15;
  grid-column-start: 2;
  grid-row-start: 7;
 }

 .item16 {
  grid-area: item16;
 }

.header {
  grid-area: header;
}

.header2 {
  grid-area: header2;
  grid-column-start: 1/2;
  grid-row-start: 1;
}

.header3 {
  grid-area: header3;
  grid-column-start: 1/2;
  grid-row-start: 5;
}

.ui-container {
  margin: 0 auto;
  width: 90%;
  max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8rem;
    grid-template-areas:
    "header header header" 
    "item1 item5 item3"
    "item2 item6 item4"
}

.header {padding-bottom: 15px; }

.item16 {
  grid-column-start: 3;
  background-color: yellow;
  color: blue; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  margin-bottom: 10px;
  margin-right: 81px;
  margin-top: 120px;
  font-size: large;
  border-radius: 3px;
}

.item1, .item2, .item3, .item4, .item5, .item6 {
  padding: 15px;
}

.item8, .item9, .item11, .item14, .item15 {
  padding-top: 10px;
}

.item9, .item12 {
  margin-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.item5, .item6 {
  padding-left: 10px;
  padding-right: 10px;
  margin: -25px;
  margin-bottom: 17px;
}

/********************* MODULE STYLES *********************/
.for-color {
    background-color: #000080;
    color: white;
}


.item5, .item6, .item9, .item12, .item15 {
  background-color: yellow;
  border-radius: 3px;
  color: blue;
}

.item1, .item3, .item5 {
  margin-top: 20px;
}

/* --- I REALISE NOW THAT THE LAST TWO AREN'T EXACTLY REUSABLE CLASSES BECAUSE I USED THE ITEM CLASSES 
TO SELECT THE PARTS. I WOULD DO IT DIFFERENTLY BUT FELT THAT FOR NOW THESE MODIFIERS BELONG MORE TO THE MODULE SECTION THAN ANY OTHER. 


/********************* STATE STYLES *********************/

.is-current {
  color: blue;
  background-color: yellow;
}

