/* Created a new class, .is-current for menuhighlighter.js 
   made by coder */ 

.is-current {
	color: blue;
	background-color: yellow;
}

.for-color {
    background-color: #000080;
    color: white;
}

.ui-container {
	margin: 0 auto;
	width: 90%;
	max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8rem;
    grid-template-areas:
    "header header header" 
    "item1 item5 item3"
    "item2 item6 item4"
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 95%;
  padding-bottom: 25px;
}

.header {padding-bottom: 15px; }

.item1 {
  grid-area: item1;
		}

.item2 {
  grid-area: item2;
		}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
 }

 .item16 {
  grid-area: item16;
 }

.header {
  grid-area: header;
}

.item16 {
  grid-column-start: 3;
  background-color: yellow;
  color: blue; 
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  margin-bottom: 10px;
  margin-right: 81px;
  margin-top: 120px;
  font-size: large;
  border-radius: 3px;
}

.item1, .item2, .item3, .item4, .item5, .item6, {
  padding: 15px;
}

.item8, .item9, .item11, .item14, .item15 {
  padding-top: 10px;
}

.item9, .item12 {
  margin-top: 10px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.item5, .item6 {
  padding-left: 10px;
  padding-right: 10px;
  margin: -25px;
  margin-bottom: 17px;
}

.item5, .item6, .item9, .item12 {
  background-color: yellow;
  border-radius: 3px;
  color: blue;
}

.item1, .item3, .item5 {
  margin-top: 20px;
}

.item2, .item4, .item6 {
  font-size: 
}
