/* Created a new class, .is-current for menuhighlighter.js 
   made by coder */ 

.is-current {
	color: blue;
	background-color: yellow;
}

body {
  background-color: #000080;
}

.ui-container {
	margin: 0 auto;
	width: 90%;
	max-width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 8rem;
    grid-template-areas:
    "header header header" 
    "item1 item5 item3"
    "item2 item6 item4"
}

.header {padding-bottom: 15px; }

.item1 {
  grid-area: item1;
		}

.item2 {
  grid-area: item2;
		}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
 }

.header {
	grid-area: header;
}